<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="argProg">
        <img src="../../../assets/imgs/arg-programa.png" id="logoAP" />
      </div>
    </div>
    <div class="col-3">
      
        <div class="redes">
          <img
            src="../../../assets/imgs/whatsapp-color-svgrepo-com.svg"
            id="icon"
          />
          <img
            src="../../../assets/imgs/linkedin-color-svgrepo-com.svg"
            id="icon"
          />
          <img
            src="../../../assets/imgs/github-color-svgrepo-com.svg"
            id="icon"
          />
          <button class="btn">
            <img src="../../../assets/imgs/logout-svgrepo-com.svg" id="icon" />
          </button>
        </div>
      
    </div>
  </div>
</div>
