<div class="container-flex">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="argProg">
          <img src="../../../assets/imgs/APLogo.png" id="logoAP" />
        </div>
      </div>
      <div class="col-3">
        <div class="redes">
          <a href="https://wa.me/543815841854">
            <img
              src="../../../assets/imgs/whatsapp-color-svgrepo-com.svg"
              id="icon"
            />
          </a>

          <a href="www.linkedin.com/in/juan-manuel-paker">
          <img
            src="../../../assets/imgs/linkedin-color-svgrepo-com.svg"
            id="icon"
          />
        </a>
        <a href="https://github.com/JuanPaker">
          <img
            src="../../../assets/imgs/github-color-svgrepo-com.svg"
            id="icon"
          />
        </a>
          <button class="btn">
            <img src="../../../assets/imgs/logout-svgrepo-com.svg" id="iconLog" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
