<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="height: 100%">
      <img src="../../../assets/imgs/banner.png" class="img" />
      <div class="contenido">
        <h3>Hola</h3>
        <p>Bienvenido a mi porfolio!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2" style="border: 1px solid red">
      <img
        src="../../../assets/imgs/Foto.jpg"
        class="img-fluid"
        id="fotoperfil"
      />
    </div>
    <div class="col-3" style="border: 1px solid red" id="acercaDe">
        <p id="nombre">Juan Manuel Paker</p>
        <p id="titulo">Full Stack developer Jr</p>
    </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/imgs/Foto.jpg"
      class="img-fluid"
      id="fotoperfil"
    />
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <p id="nombre">{{misDatos.nombre}} {{misDatos.apellido}}</p>
        <p id="titulo">{{misDatos.ocupacion}}</p>
        <p id="nombre">{{misDatos.nombre}} {{misDatos.apellido}}</p>
        <p id="titulo">{{misDatos.ocupacion}} Full Stack developer Jr</p>
  </div>
</div>
<div id="acerca" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <span>
    <h5>Acerca de mi</h5>
    <p class="texto">
         {{misDatos.acercaDe}}
               </p>
        </span>

      <button type="button" class="btn btn-primary" (click)="editarPersona(misDatos.id)"> Editar perfil </button>

    </div>
    </p></span
  >
</div>-->
