<div class="work-exp">
  <h1>Experiencia laboral</h1>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <img src="../../../assets/imgs/icaro.jpg" alt="Arcor" />
          <div class="intro">
            <h1>Arcor</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi sit
              recusandae ad dolorum at tempora rem nesciunt. Molestiae iusto
              quibusdam molestias, obcaecati ea, recusandae veritatis eligendi
              ut eius soluta dolorem.
            </p>
          </div>
        </div>
        <div class="card">
            <img src="../../../assets/imgs/icaro.jpg" alt="Arcor" />
            <div class="intro">
              <h1>Arcor</h1>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi sit
                recusandae ad dolorum at tempora rem nesciunt. Molestiae iusto
                quibusdam molestias, obcaecati ea, recusandae veritatis eligendi
                ut eius soluta dolorem.
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
