<div class="education-area">
  <h1>Educacion Formal</h1>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="logo">
            <img src="../../../assets/imgs/FACET.png" class="logoEdu" />
          </div>
          <div class="main-text">
            <h2>Ingeniero Electronico</h2>
            <h2>Facultad de ciencias exactas</h2>
            <p>Marzo 2006 - Septiembre 2015</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="logo">
            <img src="../../../assets/imgs/tecnico.jpg" class="logoEdu" />
          </div>
          <div class="main-text">
            <h2>TECNICO ELECTROMECANICO</h2>
            <h2>INSTITUTO TECNICO</h2>
            <p>Marzo 2000 - Diciembre 2005</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Certificaciones</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="logo">
            <img src="../../../assets/imgs/arg-programa.png" class="logoEdu" />
          </div>
          <div class="main-text">
            <h2>web Full Stack jr</h2>
            <h2>Argentina programa 4.0</h2>
            <!--<h6>Sec. Economia del conocimiento - inti</h6>-->
            <p>Agosto 2021 - Julio 2022</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="logo">
            <img src="../../../assets/imgs/icaro.jpg" class="logoEdu" />
          </div>
          <div class="main-text">
            <h2>Testing Automation</h2>
            <h2>Icaro</h2>
            <p>Mayo 2023 - en curso</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="logo">
            <img src="../../../assets/imgs/logo-blas pascal.png" class="logoEdu" />
          </div>
          <div class="main-text">
            <h2>Diplomatura Project management</h2>
            <h2>Universidad Blas pascal</h2>
            <p>Marzo 2020 - Noviembre 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Carousel-->

<!--
  <div class="container-fluid">
    <div class="row">
      <div class="carousel slide" id="myCarousel" data-ride="carousel">
        <div class="col-1">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="col-10" id="slide">
            <div class="item active">
              <div class="col-5" style="height: 200px">
                <div class="card">
                  <div class="logo">
                    <img src="../../../assets/imgs/FACET.png" class="logoEdu" />
                  </div>
                  <div class="main-text">
                    <h2>Ingeniero Electronico</h2>
                    <h2>Facultad de ciencias exactas</h2>
                    <p>Marzo 2006 - Septiembre 2015</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-10">
            <div class="item">
              <div class="col-5" style="height: 200px">
                <div class="card">
                  <div class="logo">
                    <img src="../../../assets/imgs/FACET.png" class="logoEdu" />
                  </div>
                  <div class="main-text">
                    <h2>Ingeniero Electronico</h2>
                    <h2>Facultad de ciencias exactas</h2>
                    <p>Marzo 2006 - Septiembre 2015</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-10">
            <div class="item">
              <div class="col-5" style="height: 200px">
                <div class="card">
                  <div class="logo">
                    <img src="../../../assets/imgs/FACET.png" class="logoEdu" />
                  </div>
                  <div class="main-text">
                    <h2>Ingeniero Electronico</h2>
                    <h2>Facultad de ciencias exactas</h2>
                    <p>Marzo 2006 - Septiembre 2015</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-1">
            <a
              class="right carousel-control"
              href="#myCarousel"
              data-slide="next"
            >
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <ul class="item-list">
        <li>
          <div class=""></div>
          <br /><br />
        </li>
      </ul>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>
-->
