<div class="education-area">
  <h1>Educacion</h1>

  <div class="container">
    <div class="row">
      <div class="col-5" style="height: 200px">
        <div class="card">
          <div class="logo">
            <img
              src="../../../assets/imgs/FACET.png"
              class="logoEdu"
            />
          </div>
          <div class="main-text">
            
              <h2>Ingeniero Electronico</h2>
              <h2>Facultad de ciencias exactas</h2>
              <p>Marzo 2006 - Septiembre 2015</p>
            
          </div>
        </div>
      </div>
      <!--<ul class="item-list">
        <li>
          <div class=""></div>
          <br /><br />
        </li>
      </ul>
    </div>
  </div>-->
    </div>
  </div>
</div>
